<div class="signin">
  <pui-logo class="signin__logo" [height]="78"></pui-logo>
  <h1 class="signin__header">Sign in</h1>
  <p class="signin__paragraph display-1r">Don't have an account? <pui-link size="lg" link="/auth/signup">Sign up</pui-link></p>
  <pui-alert (alertClose)="removeAlert()" class="signin__error" variant="danger" *ngIf="authError$ | async as authError" [closable]="true">{{authError}}</pui-alert>
  <form [formGroup]="signinForm" class="signin__form">
    <pui-form-field
      class="signin__form-field"
      formControlName="email"
      placeholder="Please enter your email"
      type="text"
      [id]="'email'"
      label="Email"
      size="lg">
      <div errorMessage>Please enter your email</div>
    </pui-form-field>
    <pui-form-field
      class="signin__form-field"
      formControlName="password"
      placeholder="Please enter your password"
      type="password"
      [id]="'password'"
      label="Password"
      size="lg">
      <div errorMessage>Please enter your password</div>
    </pui-form-field>

    <pui-button
      class="signin__btn"
      content="Sign in"
      type="filled"
      [disabled]="signinForm.invalid"
      size="lg"
      (click)="signInUser()"
      variant="primary"
    ></pui-button>
    <pui-link class="signin__forgot-password" variant="secondary" link="/auth/forgot-password">Forgot password?</pui-link>
  </form>
</div>