@use 'sass:math';
@import '../../../../assets/styles/sizes';
@import '../../../../assets/styles/colors';

.img-uploader {
  &__image {
    max-width: 100%;
    width: 100%;
  }
  &__file-label {
    @extend .btn-filled-secondary;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  &__preview-btn {
    margin-right: 16px;
  }
  &__file-input {
    display: none;
  }
  &__form {
    display: flex;
    align-items: center;
    margin-top: $pui-spacing-xsmall;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &--hide {
    display: none;
  }
  &__preview-btns.img-uploader--hide {
    display: none;
  }
  &__preview-btns {
    display: flex;
    margin-top: $pui-spacing-xsmall;
  }
}