<div class="account">
  <div class="account__container">
    <div class="account__header">
      <pui-button class="account--mobile" size="sm" type="outlined" (click)="goBack()" prefixIcon="icon-chevron-left" variant="primary" content="Back"></pui-button>
      <pui-button class="account--desktop" size="sm" type="outlined" (click)="goBack()" prefixIcon="icon-chevron-left" variant="primary" content="Back"></pui-button>
      <!-- <div class="account__nav  account--desktop">
        <pui-button size="lg" routerLinkActive="active" [routerLink]="['account-settings']" [type]="active === 'account-settings' ? 'filled': 'text'" variant="primary" content="Account"></pui-button>
        <pui-button size="lg"  [routerLink]="['subscription']" [type]="active === 'subscription' ? 'filled': 'text'" variant="primary" content="Subscription"></pui-button>
      </div> -->
      <!-- <div class="account__nav  account--mobile">
        <pui-button size="sm" routerLinkActive="active" [routerLink]="['account-settings']" [type]="active === 'account-settings' ? 'filled': 'text'" variant="primary" content="Account"></pui-button>
        <pui-button size="sm"  [routerLink]="['subscription']" [type]="active === 'subscription' ? 'filled': 'text'" variant="primary" content="Subscription"></pui-button>
      </div> -->
    </div>
    <div class="account__body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>