@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/sizes';
@import '../../../../assets/styles/breakpoints';

.account {
  &__container {
    background-color: $pui-white;
    margin: $pui-spacing-large  auto 0;
    padding: $pui-spacing-large;
    border-radius: 5px;
  }
  &__link {
    display: flex;
    justify-content: space-between;
  }
  &__header {
    display: flex;
    justify-content: space-between;

    @include xs {
      flex-direction: column;
    }
    @include md {
      flex-direction: row;

    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    @include xs {
      justify-content: center;
      margin-top: $pui-spacing-medium
    }
    @include md {
      justify-content: space-between;
      margin-top: 0;
    }
  }
  &--mobile {
    @include xs {
      display: flex;
    }
    @include md {
      display: none;
    }
  }
  &--desktop {
    @include xs {
      display: none;
    }
    @include md {
      display: flex;
    }
  }
}