<div class="signup">
  <pui-logo class="signup__logo" [height]="78"></pui-logo>
  <h1 class="signup__header">Sign up</h1>
  <p class="signup__paragraph display-1r">Already have an account? <pui-link size="lg" link="/auth/signin">Sign in</pui-link></p>
  <pui-alert (alertClose)="removeAlert()" class="signup__error" variant="danger" *ngIf="authError$ | async as authError" [closable]="true">{{authError}}</pui-alert>
  <form [formGroup]="signupForm" class="signup__form">
    <pui-form-field
      class="signup__form-field"
      formControlName="firstName"
      placeholder="Enter your first name"
      type="text"
      [id]="'firstName'"
      label="First Name"
      size="lg"
    >
      <div errorMessage>Please enter your first name</div>
    </pui-form-field>
    <pui-form-field
      class="signup__form-field"
      formControlName="lastName"
      placeholder="Enter your last name"
      type="text"
      [id]="'lastName'"
      label="Last Name"
      size="lg">
      <div errorMessage>Please enter your last name</div>
    </pui-form-field>
    <pui-form-field
      class="signup__form-field"
      formControlName="email"
      placeholder="Enter your email"
      type="text"
      [id]="'email'"
      label="Email"
      size="lg">
      <div errorMessage>Please enter your email</div>
    </pui-form-field>
    <pui-form-field
      class="signup__form-field"
      formControlName="password"
      placeholder="Enter your password"
      type="password"
      [id]="'password'"
      label="Password"
      size="lg">
      
      <div errorMessage>Please enter your password</div>
    </pui-form-field>

    <pui-button 
      class="signup__btn"
      content="Sign Up" 
      type="filled"
      size="lg"
      (click)="signUpUser()"
      [disabled]="signupForm.invalid"
      variant="primary"
    ></pui-button>
  </form>
</div>