@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/sizes';

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: $pui-spacing-xxxlarge;

  &__logo {
    margin-bottom: $pui-spacing-xsmall;
  }
  &__error {
    width: 100%;
    margin-bottom: $pui-spacing-small;
    margin-top: $pui-spacing-xxsmall;
  }
  &__header {
    margin: 0;
  }
  &__paragraph {
    color: $pui-gray-2;
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__form-field {
    margin-bottom: $pui-spacing-small;
    width: 100%;
    display: block;
  }
  &__btn ::ng-deep button{

    width: 168px;
    display: block;
  }
}
