
@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/sizes';
@import '../../../../assets/styles/breakpoints';

.order-confirmation {
  &__heading {
    text-align: center;
  }
  &__item-features {
    margin: 0;
    list-style-type:disc;
    margin-bottom: $pui-spacing-medium;
  }
  &__item-feature {
    margin-bottom: 12px;
  }
  &__features-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: $pui-spacing-large;
  }
  &--desktop {
    display: none;
    @include md {
      display: block;
    }
  }
  &--mobile {
    @include xs {
      display: block;
    }
    @include md {
      display: none;
    }
  }
}