<div class="order-confirmation display-2r" *ngIf="!(orderConfirmation$ | async); else confirmationSpinner">
  <ng-template #orderConfirmed>
    <h1 class="order-confirmation__heading order-confirmation--desktop h2">Order Confirmed</h1>
    <h1 class="order-confirmation__heading order-confirmation--mobile h4">Order Confirmed</h1>
    <p class="order-confirmation__message">
      You payment for Enterprise subscription has been confirmed.
      You will receive an email of payment confirmation in your
      email in a few minutes.
    </p>
    <h3 class="order-confirmation__heading h4">You now have</h3>
    <div class="order-confirmation__features-container">
      <ul class="order-confirmation__item-features">
        <li class="order-confirmation__item-feature">200 Checks</li>
        <li class="order-confirmation__item-feature">Email Notifications</li>
        <li class="order-confirmation__item-feature">Push Notifications</li>
      </ul>
      <pui-button (click)="goToChecks()" variant="primary" size="lg" content="Go to checks"></pui-button>
    </div>
  </ng-template>
  <ng-template #orderNotConfirmed>
    <h1 class="order-confirmation__heading h2">Failed to process your order</h1>
    <p class="order-confirmation__message">
      We couldn't process your Order because: {{orderError$ | async}}
    </p>
  </ng-template>
  <ng-container *ngIf="(orderError$ | async); else orderConfirmed">
    <ng-container [ngTemplateOutlet]="orderNotConfirmed"></ng-container>
  </ng-container>
</div>
<ng-template #confirmationSpinner>
  <div class="order-confirmation">
    <h1 class="order-confirmation__heading h2">Confirming your Order</h1>
    <div class="order-confirmation__features-container">
      <pui-spinner></pui-spinner>
    </div>
  </div>
</ng-template>