<div class="update-password">
  <div class="update-password__container-1">
    <h1>Change Password</h1>
    <form [formGroup]="changePasswordForm" class="update-password__verification-form">
    <pui-alert (alertClose)="removeAlert()" class="update-password__error" variant="danger" *ngIf="securityError$ | async as securityError" [closable]="true">{{securityError}}</pui-alert>

      <pui-form-field
        label="Old Password"
        class="update-password__input"
        type="password"
        size="lg"
        formControlName="oldPassword"
        placeholder="Enter old password"
      ></pui-form-field>
      <pui-form-field
        label="New Password"
        class="update-password__input"
        type="password"
        size="lg"
        formControlName="newPassword"
        placeholder="Enter new password"
      ></pui-form-field>
      <div class="update-password__cta">
        <pui-button (click)="changePassword()" type="filled" size="lg" variant="primary" content="Change Password"></pui-button>
      </div>
    </form>
  </div>
</div>