@import '../../../../assets/styles/sizes';

.update-password {
  &__cta {
    margin-top: $pui-spacing-medium;
    display: flex;
    justify-content: center;
  }
  &__input {
    margin-bottom: $pui-spacing-xxsmall;
    display: block;
  }
  &__error {
    margin-bottom: $pui-spacing-xxsmall;
    display: block;
  }
}