@import '../../../../assets/styles/sizes.scss';

.auth {
  &__container {
    max-width: 500px;
    margin: 40px auto;
  }
  &__outer-container {
      margin-top: $pui-spacing-xlarge;
  }
  &__logo {
    cursor: pointer;
  }
}