<div class="auth">
  <div class="auth__outer-container container">
    <pui-logo class="auth__logo" routerLink="/" type="full"></pui-logo>
    <div class="auth__container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>