@import '../../../../assets/styles/sizes';

.notification-modal {
  &__buttons {
    display: flex;
    justify-content: center;
  }
  &__button {
    margin: 0 $pui-spacing-xxxsmall;
  }
  &__header {
    text-align: center;
  }
  &__message {
    margin: $pui-spacing-large 0;
  }
  &-container {
    ::ng-deep .modal__content {
      min-width: unset !important;
      width: 80%;
      max-width: 400px;
      min-height: unset !important;
    }
  }
}