<ng-container *ngIf="user$ | async as user">
  <pui-layout 
    (logout)="logout()"
    [profileMenu]="profileMenu" 
    [profileName]="user.firstName + ' ' + user.lastName"
    [profilePic]="user.profilePicture"
    [menuItems]="menuItems"
    [subscription]="userSubscription$ | async"
  >
    <router-outlet></router-outlet>
  </pui-layout>
</ng-container>

<app-modal class="notification-modal-container" [width]="400" [content]="modalContent" (close)="closeModal()" *ngIf="modalOpen">
  <ng-template #modalContent>
    <div class="notification-modal">
      <h1 class="notification-modal__header h4">Enable Notification</h1>
      <p class="notification-modal__message display-2r">
        We use notifications to enable an optimal user experience.
        So we can notifiy you when your check status changes
      </p>
      <div class="notification-modal__buttons">
        <pui-button class="notification-modal__button" size="lg" variant="primary" [disabled]="!!sub" (click)="subscribeToNotifications()" content="Enable"></pui-button>
        <pui-button class="notification-modal__button" size="lg" variant="danger" (click)="closeModal()" content="Cancel"></pui-button>
      </div>
    </div>
  </ng-template>
</app-modal>