<div class="update-email">
  <div class="update-email__container-1" *ngIf="(step | async) === 1">
    <h1>Change Email</h1>
    <form [formGroup]="verificationForm" class="update-email__verification-form">
      <pui-form-field
        label="Password"
        type="password"
        size="lg"
        formControlName="password"
        placeholder="Enter password"
      ></pui-form-field>
      <div class="update-email__cta">
        <pui-button (click)="verify()" type="filled" size="lg" variant="primary" content="Verify Access"></pui-button>
      </div>
    </form>
  </div>
  <div class="update-email__container-2" *ngIf="(step | async) === 2">
    <h1>New Email</h1>
    <form [formGroup]="newEmailForm" class="update-email__verification-form">
      <pui-form-field
        label="New Email"
        type="email"
        size="lg"
        formControlName="email"
        placeholder="Enter new email"
      ></pui-form-field>
      <div class="update-email__cta">
        <pui-button (click)="verifyEmail()" type="filled" size="lg" variant="primary" content="Verify Email"></pui-button>
      </div>
    </form>
  </div>
  <div class="update-email__container-3" *ngIf="(step | async) === 3">
    <h1>Verify Email</h1>
    <form [formGroup]="changeEmailForm" class="update-email__verification-form">
      <pui-form-field
        label="Verification Code"
        type="email"
        size="lg"
        formControlName="verificationCode"
        placeholder="Enter verification code sent to this email"
      ></pui-form-field>
      <div class="update-email__cta">
        <pui-button (click)="changeEmail()" type="filled" size="lg" variant="primary" content="Change Email"></pui-button>
      </div>
    </form>
  </div>
</div>