
@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/sizes';
@import '../../../../assets/styles/breakpoints';

.subscription {
  &__items {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  &__heading {
    text-align: center;
  }
  &__item {
    border: 1px solid $pui-gray-2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: $pui-spacing-medium;
  }
  &__item-features {
    margin: 30px 0;
    list-style-type:disc;
  }
  &__item-feature {
    margin-bottom: 12px;
  }
  &--desktop {
    display: none;
    @include md {
      display: block;
    }
  }
  &--mobile {
    @include xs {
      display: block;
    }
    @include md {
      display: none;
    }
  }
}