<div class="subscription" *ngIf="userSubscription$ | async as subscription">
  <h1 class="subscription__heading h2 subscription--desktop">Plans and pricings</h1>
  <h1 class="subscription__heading h4 subscription--mobile">Plans and pricings</h1>

  <ul class="subscription__items display-2r">
    <li class="subscription__item" *ngIf="professionalPaymentSignature$ | async as signature">
      <div class="subscription__item-container">
        <h2 class="h4">Freemium</h2>
        <span>US$ 0.00/mo</span>
        <ul class="subscription__item-features">
          <li class="subscription__item-feature">20 Checks</li>
          <li class="subscription__item-feature">Email Notifications</li>
        </ul>
        <pui-button [disabled]="subscription === 'freemium'" (click)="placeOrder()" variant="primary" content="Buy Now"></pui-button>
      </div>
    </li>
    <li class="subscription__item" *ngIf="professionalPaymentSignature$ | async as signature">
      <div class="subscription__item-container">
        <h2 class="h4">Professional</h2>
        <span>US$ 10.99/mo</span>
        <ul class="subscription__item-features">
          <li class="subscription__item-feature">200 Checks</li>
          <li class="subscription__item-feature">Email Notifications</li>
          <li class="subscription__item-feature">Push Notifications</li>
        </ul>
        <form #orderForm2 method=" POST" class="details-confirmation__payment-form" ngNoForm accept-charset="utf-8">
          <input type="hidden" name="data" [value]="signature.data" />
          <input type="hidden" name="signature" [value]="signature.signature" />
        </form>
        <pui-button [disabled]="subscription === 'professional'" (click)="orderProfessional()" variant="primary" content="Buy Now"></pui-button>
      </div>
    </li>
    <li class="subscription__item" *ngIf="enterprisePaymentSignature$ | async as signature">
      <div class="subscription__item-container">
        <h2 class="h4">Enterprise</h2>
        <span>US$ 20.99/mo</span>
        <ul class="subscription__item-features">
          <li class="subscription__item-feature">1000 Checks</li>
          <li class="subscription__item-feature">Email Notifications</li>
          <li class="subscription__item-feature">Push Notifications</li>
        </ul>
        <form #orderForm3 method=" POST" class="details-confirmation__payment-form" ngNoForm accept-charset="utf-8">
          <input type="hidden" name="data" [value]="signature.data" />
          <input type="hidden" name="signature" [value]="signature.signature" />
        </form>
        <pui-button [disabled]="subscription === 'enterprise'" (click)="orderEnterprise()" variant="primary" content="Buy Now"></pui-button>
      </div>
    </li>
  </ul>
</div>