@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/sizes';

.check-details {
  &__container {
    background-color: $pui-white;
    max-width: 716px;
    margin: $pui-spacing-large  auto 0;
    padding: $pui-spacing-large;
    border-radius: 5px;
  }
  &__link {
    display: flex;
    justify-content: space-between;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
  }
}