<div class="check-details">
  <div class="check-details__container">
    <div class="check-details__header">
      <pui-button type="outlined" (click)="goBack()" prefixIcon="icon-chevron-left" variant="primary" content="Back"></pui-button>
      <div class="check-details__nav">
        <pui-button size="lg"  [routerLink]="['stats']" [type]="active === 'stats' ? 'filled': 'text'" variant="primary" content="Stats"></pui-button>
        <pui-button size="lg" routerLinkActive="active" [routerLink]="['settings']" [type]="active === 'settings' ? 'filled': 'text'" variant="primary" content="Settings"></pui-button>
      </div>
    </div>
    <div class="check-details__body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>