@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/sizes';
@import '../../../../assets/styles/breakpoints';

.checks {
  margin-top: 30px;
  &--up-state,
  &--down-state {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: $pui-spacing-xxsmall;
  }

  &--up-state-text {
    color: $pui-success-300;
  }
  &--down-state-text {
    color: $pui-danger-300;
  }
  &__column-container {
    display: flex;
    align-items: center;
  }

  &--up-state {
    background-color: $pui-success-300;
  }
  &--down-state {
    background-color: $pui-danger-300;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include md {
      flex-direction: row;
    }
  }
  .banner {
    flex: 1;
    &:first-of-type {
      margin-right: 0;
      margin-bottom: $pui-spacing-medium;

      @include md {
        margin-right: $pui-spacing-xxxlarge;
      }
    }
    &__main-content-header {
      font-size: 20px;
      @include md {
        font-size: 24px;
      }
    }
    &__main-content {
      position: relative;
      z-index: 1000;
    }
    &__checks-header {
      color: $pui-primary-300;
      line-height: 0;
      margin-bottom: $pui-spacing-small;
    }
    &__main {
      display: flex;
      width: 100%;
      justify-content: space-between;
      color: $pui-white;
      margin: $pui-spacing-xsmall $pui-spacing-small;
    }

    &__img {
      // align-self: flex-end;
      position: relative;
      height: 183px;
      width: 141px;
      margin-top: -4px;
      margin-right: -$pui-spacing-xsmall;
      @include md {
        margin-right: 0;
      }
      img {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
    &__checks-container {
      width: 100%;
    }
    &__check-items {
      display: flex;
      justify-content: space-between;
    }
    &__check-item {
      // flex: 1;
      display: block;
    }
  }
  &__table-container {
    background-color: $pui-white;
    padding: $pui-spacing-small;
    border-radius: 5px;
    margin-top: $pui-spacing-xlarge;
  }
  &__table-heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__table-heading {
    color: $pui-primary-300;
    font-size: 24px;
    @include md {
      font-size: 48px;
      line-height: 0;
    }
  }
  &__table {
    margin-top: $pui-spacing-medium;
  }
  &__empty-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $pui-gray-3;
    text-align: center;
    max-width: 314px;
    &-icon {
      font-size: 50px;
      color: $pui-gray-2;
    }
  }
  &-form {
    &__header {
      text-align: center;
    }
    &__input {
      margin-bottom: $pui-spacing-xsmall;
      display: block;
    }
    &__btn-container {
      display: flex;
      justify-content: center;
    }
  }
  &__md {
    @include xs {
      display: none;
    }
    @include md {
      display: block;
    }
  }
  &__sm {
    @include xs {
      display: block;
    }
    @include md {
      display: none;
    }
  }
}
