<div class="checks">
  <div class="checks__container">
    <app-banner-card class="banner checks__banner" [mainContent]="mainContent">
      <ng-template #mainContent>
        <div class="banner__main">
          <div class="banner__main-content display-3r">
            <h1 class="banner__main-content-header h4">Welcome {{(userData$ | async)?.firstName}}</h1>
            <p>Monitoring all your links could not be any easier.</p>
            <p>Get a ping once your link is down</p>
          </div>
          <div class="banner__img">
            <img src="../../../../assets/images/welcome-photo.png">
          </div>
        </div>
      </ng-template>
    </app-banner-card>
    <app-banner-card class="banner checks__banner" theme="light" [mainContent]="checksContent">
      <ng-template #checksContent>
        <div class="banner__main">
          <div class="banner__checks-container">
            <h1 class="banner__checks-header h5">Checks Overview</h1>
            <div class="banner__check-items">
              <app-check-overview-item class="banner__check-item" theme="primary" metric="ADDED"
                [value]="(checksData$ | async)!.length"></app-check-overview-item>
              <app-check-overview-item class="banner__check-item" theme="success" metric="UP"
                [value]="(upChecks | async)!.length"></app-check-overview-item>
              <app-check-overview-item class="banner__check-item" theme="danger" metric="DOWN"
                [value]="(downChecks | async)!.length"></app-check-overview-item>
            </div>
          </div>
        </div>
      </ng-template>
    </app-banner-card>
  </div>
  <div class="checks__table-container">
    <div class="checks__table-heading-container">
      <h1 class="checks__table-heading h2">Your Checks</h1>
      <pui-button class="checks__md" type="text" (click)="openAddCheckModal()" content="Add Check" variant="primary" size="lg" prefixIcon="icon-add-circle"></pui-button>
      <pui-button class="checks__sm" type="text" (click)="openAddCheckModal()" content="Add Check" variant="primary" size="sm" prefixIcon="icon-add-circle"></pui-button>
    </div>
    <pui-table class="checks__table" [data$]="checksData$" [qtySet]="[5, 10, 15]" [columns]="checksColumns"
      [emptyTemplate]="emptyTable" [columnTemplate]="columnTemplate">
      <ng-template #emptyTable>
        <div class="checks__empty-template">
          <pui-icon class="checks__empty-template-icon" iconName="icon-web"></pui-icon>
          <p class="checks__empty-template-text display-2r">No Check/Link has been added yet.</p>
          <p class="checks__empty-template-text display-2r">Click "Add Check" icon to include your link!</p>
        </div>
      </ng-template>
      <ng-template #columnTemplate let-column="column" let-row="row">
        <ng-container [ngSwitch]="column">
          <ng-container *ngSwitchCase="'CHECKS'">
            <div class="checks__column-container">
              <span [ngClass]="row['STATUS'] == 'up' ? 'checks--up-state': 'checks--down-state'"></span>
              <span>{{row[column]}}</span>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'STATUS'">
            <div class="checks__column-container">
              <span [ngClass]="row[column]=== 'up' ? 'checks--up-state-text': 'checks--down-state-text'">{{row[column] | uppercase}}</span>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="' '">
            <div class="checks__column-container">
              <pui-button [routerLink]="[row['id']]" variant="primary" type="outlined" content="View Details"></pui-button>
            </div>
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{row[column]}}
          </ng-container>
        </ng-container>
      </ng-template>
    </pui-table>

  </div>
</div>

<app-modal [width]="716" [content]="modalContent" (close)="closeAddCheckModal()" *ngIf="checkModalState$ | async">
  <ng-template #modalContent>
    <form class="checks-form" [formGroup]="addCheckForm">
      <h1 class="checks-form__header h2">Add Check</h1>
      <pui-form-field 
        type="text"
        class="checks-form__input"
        size="lg"
        label="URL"
        placeholder="Enter link to the url without http or https"
        id="URL"
        formControlName="url"
      >
      <div errorMessage>URL is Required</div>
    </pui-form-field>
      <pui-select
        size="lg"
        label="Protocol"
        class="checks-form__input"
        formControlName="protocol"
        [options]="['HTTP', 'HTTPS']"
      ></pui-select>
      <pui-select
        class="checks-form__input"
        size="lg"
        label="Method"
        id="method"
        [options]="methodOptions"
        formControlName="method"
      ></pui-select>
      <pui-select
        class="checks-form__input"
        size="lg"
        label="Success Codes"
        id="successCodes"
        [options]="successCodesOptions"
        formControlName="successCodes"
      ></pui-select>
      <pui-form-field 
        type="number"
        class="checks-form__input"
        size="lg"
        placeholder="Enter timeout in seconds"
        label="Timeout seconds"
        id="timeoutSeconds"
        formControlName="timeoutSeconds"
      >
      <div errorMessage>Timeout seconds is required</div>
    </pui-form-field>
      <div class="checks-form__btn-container">
        <pui-button
          variant="primary"
          content="Create Check"
          (click)="createCheck()"
          size="lg"
          [disabled]="addCheckForm.invalid"
        ></pui-button>
      </div>
    </form>
  </ng-template>
</app-modal>