<div class="email-verification">
  <pui-logo class="email-verification__logo" [height]="78"></pui-logo>
  <h1 class="email-verification__header">Email Verification</h1>
  <p class="email-verification__paragraph display-1r">Don't have an account? <pui-link size="lg" link="/auth/signup">Sign up</pui-link></p>
  <div class="email-verification__instructions display-3r">
    Please enter the code which was sent to your email to continue with the process of verifying your email.
  </div>
  <pui-alert (alertClose)="removeAlert()" class="email-verification__error" variant="danger" *ngIf="authError$ | async as authError" [closable]="true">{{authError}}</pui-alert>
  <form [formGroup]="verifyEmailForm" class="email-verification__form">
    <pui-form-field
      class="email-verification__form-field"
      formControlName="verificationToken"
      type="text"
      [id]="'verificationToken'"
      placeholder="Enter your email verification code"
      label="Verification Token"
      size="lg">
      <div errorMessage>Please enter your verification code</div>
    </pui-form-field>

    <pui-button
      class="email-verification__btn"
      content="Verify"
      type="filled"
      [disabled]="verifyEmailForm.invalid"
      size="lg"
      (click)="verifyEmail()"
      variant="primary"
    ></pui-button>

    <div class="email-verification__loading-spinner" *ngIf="loadingSecondsCountDown; else verificationHandler">
      <pui-spinner></pui-spinner>
    </div>
    <ng-template #verificationHandler>
      <div class="email-verification__instructions display-3r">
        Didn't get a verification code? 
        <ng-container *ngIf="secondsCountDown; else resendCode">
          <span class="email-verification__counter display-4r">Resend code in {{secondsCountDown}} seconds</span>
        </ng-container>
        <ng-template #resendCode>
          <pui-link (click)="resendVerificationCode()" variant="secondary" size="sm">Resend</pui-link>
        </ng-template>
      </div>
    </ng-template>
  </form>
</div>