@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/sizes';

.email-verification {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__instructions {
    margin: 40px 0;
  }
  &__counter {
    color: $pui-gray-2;
  }
  &__logo {
    margin-bottom: 24px;
  }
  &__error {
    width: 100%;
    margin-bottom: $pui-spacing-small;
    margin-top: $pui-spacing-xxsmall;
  }
  &__header {
    margin: 0;
  }
  &__paragraph {
    color: $pui-gray-2;
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__form-field {
    margin-bottom: $pui-spacing-small;
    width: 100%;
    display: block;
  }
  &__btn ::ng-deep button{

    min-width: 168px;
    display: block;
  }
  &__forgot-password {
    margin-top: $pui-spacing-xxsmall;
  }
}
