<div class="profile-pic" (click)="edit.emit()" (mouseleave)="onMouseLeave()" (mouseenter)="onMouseEnter()">
  <div class="profile-pic__container">
    <img class="profile-pic__image" [src]="profilePic">
    <div class="profile-pic__action" [@hover]="isActive ? 'active' : 'inactive'">
      <span class="profile-pic__action-txt display-4r">Edit</span>
    </div>
  </div>
</div>