@import '../../../../assets/styles/colors';
.profile-pic {

  &__container {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
  }
  &__image {
    width: 100px;
    height: 100px;
  }
  &__action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $pui-primary-300;
    color: $pui-white;
    height: 25px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}