@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/sizes';
@import '../../../../assets/styles/breakpoints';

.modal {
  border: 1px solid black;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  &__backdrop {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    z-index: 900;
    position: fixed;
    background-color: $pui-primary-400;
    opacity: 0.3;
  }
  &__content {
    position: fixed;
    background-color: $pui-white;
    z-index: 1009;
    margin-left: 50%;
    margin-top: 200px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    min-width: 80% !important;
    margin-top: 50px !important;
    @include md {
      min-width: 600px !important;
      margin-top: 100px !important;
    }
  }
  &__close-icon {
    font-size: 32px;
    align-self: flex-end;
    margin-top: $pui-spacing-xxsmall;
    margin-right: $pui-spacing-xxsmall;
    color: $pui-gray-2;
    cursor: pointer;
  }
  &__main {
    padding: 0 $pui-spacing-large $pui-spacing-medium;
  }
}