<div class="modal">
  <div class="modal__backdrop" (click)="close.emit()"></div>
  <div class="modal__content" [ngStyle]="style">
    <pui-icon (click)="close.emit()" class="modal__close-icon" iconName="icon-close"></pui-icon>
    <div class="modal__main">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>
  </div>
</div>