<div class="account-settings">
  <div class="account-settings__container" *ngIf="user$ | async as user">
    <div class="account-settings__profile-pic" >
      <app-profile-pic
        [profilePic]="user.profilePicture"
        (edit)="onEditProfile()"></app-profile-pic>
    </div>
    <div class="account-settings__header-container">
      <h1 class="account-settings__header h2">Profile Details</h1>
      <span class="account-settings__plan">Freemium</span>
    </div>

    <form class="account-settings__form" [formGroup]="editAccountSecurityForm">
      <pui-text-edit 
        type="email"
        class="account-settings__input"
        size="lg"
        label="Email"
        id="firstName"
        [value]="user.email"
        (edit)="editEmail()"
      >
      </pui-text-edit>
      <pui-text-edit 
        type="password"
        class="account-settings__input"
        size="lg"
        label="Password"
        id="password"
        value="password placeholder"
        (edit)="editPassword()"
      >
    </pui-text-edit>
      <div class="account-settings__controls">
        <pui-button (click)="openCloseAccount()" variant="danger" size="lg" content="Close Account"></pui-button>
      </div>
    </form>
  </div>
</div>

<app-modal  class="account-settings-modal" [height]="400"[top]="200" *ngIf="editProfileModalOpened$ | async" [content]="modalContent" (close)="closeProfile()">
  <ng-template #modalContent>
    <ng-container *ngIf="user$ | async as user">
      <h1 class="account-settings-modal__header h3">Edit Photo</h1>
      <div class="image-cropper">
        <app-img-cropper
          (done)="uploadPhoto($event)"
          [initialImage]="user.profilePicture">
        </app-img-cropper>
      </div>
    </ng-container>
  </ng-template>
</app-modal>

<app-modal [width]="477" [height]="400"[top]="200" [content]="modalContent" (close)="closeDeleteAccountModal()" *ngIf="deleteAccountModalOpened$  | async">
  <ng-template #modalContent>
    <div class="delete-account-modal">
      <h1 class="h2 delete-account-modal__header">Close Account</h1>
      <p class="delete-account-modal__delete-instruction display-1r">
        To delete account, type the following code:
      </p>
      <p class="delete-account-modal__code">
        <span class="h5">{{confirmationCode}}</span>
      </p>
      <form class="delete-account-modal__confirmation-code" [formGroup]="deleteAccountForm">
        <pui-form-field placeholder="Enter text here" class="delete-account-modal__confirmation-code-input" size="lg" formControlName="confirmationCode">
          <div *ngIf="doesntMatchError()" errorMessage>Entered value doesn't match with {{confirmationCode}}</div>
          <div *ngIf="isRequiredError()" errorMessage>This field is required</div>
        </pui-form-field>
      </form>
      <div class="delete-account-modal__btns">
        <pui-button (click)="closeDeleteAccountModal()" size="lg" content="Cancel" type="filled" variant="primary"></pui-button>
        <pui-button
          (click)="deleteAccount()"
          [disabled]="deleteAccountForm.invalid"
          class="delete-check-modal__delete-btn"
          size="lg"
          content="Delete Account"
          type="filled"
          variant="danger"
        ></pui-button>
      </div>
    </div>
  </ng-template>
</app-modal>
<app-modal [width]="477" [height]="400"[top]="200" [content]="modalContent" (close)="closeEditEmailModal()" *ngIf="editEmailModalOpened$  | async">
  <ng-template #modalContent>
    <app-update-email></app-update-email>
  </ng-template>
</app-modal>
<app-modal [width]="477" [height]="400"[top]="200" [content]="modalContent" (close)="closeEditPasswordModal()" *ngIf="editPasswordModalOpened$  | async">
  <ng-template #modalContent>
    <app-update-password></app-update-password>
  </ng-template>
</app-modal>