<div class="verify-code">
  <pui-logo class="verify-code__logo" [height]="78"></pui-logo>
  <h1 class="verify-code__header">Verify Code</h1>
  <p class="verify-code__paragraph display-1r">Don't have an account? <pui-link size="lg" link="/auth/signup">Sign up</pui-link></p>

  <div class="verify-code__instructions display-3r">
    Please enter the code which was sent to your email to continue with
    the process of resetting your password.
  </div>
  <pui-alert (alertClose)="removeAlert()" class="verify-code__error" variant="danger" *ngIf="authError$ | async as authError" [closable]="true">{{authError}}</pui-alert>

  <form [formGroup]="verifyCodeForm" class="verify-code__form">
    <pui-form-field
      class="verify-code__form-field"
      formControlName="verificationCode"
      type="text"
      [id]="'verificationCode'"
      placeholder="Enter your verification code"
      label="Verification Code"
      size="lg">
      <div errorMessage>Please enter your verification code</div>
    </pui-form-field>

    <pui-button
      class="verify-code__btn"
      content="Verify"
      type="filled"
      [disabled]="verifyCodeForm.invalid"
      size="lg"
      (click)="verifyCode()"
      variant="primary"
    ></pui-button>

    <div class="verify-code__instructions display-3r">
      Didn't get a verification code? <pui-link (click)="resendVerificationCode()" variant="secondary" size="sm">Resend</pui-link>
    </div>
  </form>
</div>