@import '../../../../assets/styles/sizes';
@import '../../../../assets/styles/breakpoints';

.account-settings {
  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: $pui-spacing-small;
  }
  &__header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__header {
    margin-bottom: $pui-spacing-medium;
    @include xs {
      font-size: 24px;
    }
    @include md {
      font-size: 48px;
    }
  }
  &__profile-pic {
    display: flex;
    justify-content: flex-end;
  }
  &__input {
    margin-bottom: $pui-spacing-small;
    display: block;
  }
}

.image-cropper {
  max-width: 300px;
  ::ng-deep .img-uploader__image-container {
    width: 100%;
  }
}
.account-settings-modal {
  ::ng-deep .modal__content {
    min-width: 400px !important;
  }
  &__header {
    display: flex;
    justify-content: center;
  }
}