<div class="account-settings">
  <div class="account-settings__container">
    <div class="account-settings__profile-pic" *ngIf="user$ | async as user">
      <app-profile-pic
        [profilePic]="user.profilePicture"
        (edit)="onEditProfile()"></app-profile-pic>
    </div>
    <div class="account-settings__header-container">
      <h1 class="account-settings__header h2">Profile Details</h1>
      <span class="account-settings__plan">Freemium</span>
    </div>

    <form class="account-settings__form" [formGroup]="editAccountForm">
      <pui-form-field 
        type="text"
        class="account-settings__input"
        size="lg"
        label="First Name"
        placeholder="Enter your first name"
        id="firstName"
        formControlName="firstName"
      >
        <div errorMessage>First Name is required</div>
      </pui-form-field>
      <pui-form-field 
        type="text"
        class="account-settings__input"
        size="lg"
        label="Last Name"
        placeholder="Enter your last name"
        id="lastName"
        formControlName="lastName"
      >
        <div errorMessage>Last Name is required</div>
      </pui-form-field>
      <div class="account-settings__controls">
        <pui-button (click)="updateProfileDetails()" variant="primary" size="lg" [disabled]="!userDataHasChanged || editAccountForm.invalid" content="Save Changes"></pui-button>
      </div>
    </form>
  </div>
</div>

<app-modal  class="account-settings-modal" [height]="400"[top]="200" *ngIf="editProfileModalOpened$ | async" [content]="modalContent" (close)="closeProfile()">
  <ng-template #modalContent>
    <ng-container *ngIf="user$ | async as user">
      <h1 class="account-settings-modal__header h3">Edit Photo</h1>
      <div class="image-cropper">
        <app-img-cropper
          (done)="uploadPhoto($event)"
          [initialImage]="user.profilePicture">
        </app-img-cropper>
      </div>
    </ng-container>
  </ng-template>
</app-modal>