<div class="check-overview-item" [ngClass]="classes">
  <div class="check-overview-item__container">
    <span class="check-overview-item__value h1">
      {{value | enlogateNumber}}
    </span>
    <span class="check-overview-item__metric display-2b">
      {{metric}}
    </span>
  </div>
</div>