@import '../../../../assets/styles/colors';

.check-overview-item {
  &__value {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__metric {
    color: $pui-primary-300;
  }
  &.check-overview-item--primary {
    .check-overview-item__value {
      color: $pui-primary-300;
    }
  }
  &.check-overview-item--success {
    .check-overview-item__value {
      color: $pui-success-300;
    }
  }
  &.check-overview-item--danger {
    .check-overview-item__value {
      color: $pui-danger-300;
    }
  }
}