<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="x-apple-disable-message-reformatting">
	<title></title>
	<!--[if mso]> 
<noscript> 
<xml> 
<o:OfficeDocumentSettings> 
<o:PixelsPerInch>96</o:PixelsPerInch> 
</o:OfficeDocumentSettings> 
</xml> 
</noscript> 
<![endif]-->
  <style>
    table, td, div, h1, p {font-family: Arial, sans-serif;}
  </style>
</head>
<body style="margin:0;padding:0;">
  <table role="presentation" style="width:100%;border-collapse: collapse; border: 0; border-spacing:0; background:#ffffff;">
    <tr>
      <td align="center" style="padding: 0;">
        <table role="presentation" style="width: 802px;border-collapse: collapse; border-spacing:0;text-align:left;">
          <tr>
            <td align="left" style="padding: 40px 16px 30px 16px; background: #ffffff">
              <img src="https://pinglink-ui.keyssoft.site/logo.svg" alt=" " width="240" style="height:auto;display:block"/>
            </td>
          </tr>
          <tr>
            <td align="center" style="padding: 36px 16px 64px 16px;">
              <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
                <tr>
                  <td style="padding:0;">
                    <h1 style="font-size:56px;margin:0 0 20px 0; color:#092C4C;font-family:Arial,sans-serif;">Email Verification</h1>
                    <p style="margin:0 0 12px 0;color:#092C4C;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">
                      You or someone has requested
                      to register to PingLInk using this email. If it wasn’t you please safely ignore this email. If it was you, please use
                      the code below to verify your email.
                    </p>
                    <p style="margin:40px 0;font-size:40px;line-height:24px;font-family: Arial,sans-serif;">{{verificationCode}}</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding: 30px 16px; background: #ffffff">
              <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;font-size:9px;font-family:Arial,sans-serif;">
                <tr>
                  <p><img width="35" style="height:auto;display:block;border:0;" src="https://pinglink-ui.keyssoft.site/icon-logo.svg"></p>
                </tr>
                <tr>
                  <td style="padding:0;width:50%;" align="left">
                    <p style="margin:8px 0;font-size:14px;line-height:16px;font-family:Arial,sans-serif;color:#092C4C;opacity:0.5">&copy; 2023 Pinglink Technologies LLC, a Keyssoft company<br/>
                  </td>
                </tr>
                <tr>
                  <td style="padding:0;width:50%;" align="left">
                    <p style="margin:8px 0;font-size:14px;line-height:16px;font-family:Arial,sans-serif;color:#092C4C;opacity:0.5">Volodymyr Ivasyuka 7, Ivano Frankivsk, Ukraine</p>
                  </td>
                </tr>
                <tr>
                  <td style="padding:0;width:50%;" align="left">
                    <p style="margin:0;font-size:14px;line-height:16px;font-family:Arial,sans-serif;color:#092C4C;opacity:0.5">All rights reserved</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>