<div class="forgot-password">
  <pui-logo class="forgot-password__logo" [height]="78"></pui-logo>
  <h1 class="forgot-password__header">Forgot Password</h1>
  <p class="forgot-password__paragraph display-1r">Don't have an account? <pui-link size="lg" link="/auth/signup">Sign up</pui-link></p>

  <div class="forgot-password__instructions display-3r">
    To reset your password, enter your email below and submit. An email
    will be sent to you with instructions about how to complete the process.
  </div>
  <pui-alert (alertClose)="removeAlert()" class="forgot-password__error" variant="danger" *ngIf="authError$ | async as authError" [closable]="true">{{authError}}</pui-alert>
  <form [formGroup]="forgotPasswordForm" class="forgot-password__form">
    <pui-form-field
      class="forgot-password__form-field"
      formControlName="email"
      type="text"
      [id]="'email'"
      label="Email"
      placeholder="Please enter your email"
      size="lg">
      <div errorMessage>Please enter your email</div>
    </pui-form-field>

    <pui-button
      class="forgot-password__btn"
      content="Reset Password"
      type="filled"
      [disabled]="forgotPasswordForm.invalid"
      size="lg"
      (click)="requestPasswordReset()"
      variant="primary"
    ></pui-button>
  </form>
</div>