@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/sizes';

.check-settings {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__icon {
    font-size: $pui-spacing-small;
    color: $pui-gray-2;
  }
  &__heading {
    color: $pui-primary-300;
  }
  .checks-form {
    &__header {
      text-align: center;
    }
    &__input {
      margin-bottom: $pui-spacing-xsmall;
      display: block;
    }
    &__btn-container {
      display: flex;
      justify-content: center;
    }
  }
}

.delete-check-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    text-align: center;
    margin: 0;
    color: $pui-primary-300;
  }
  &__delete-instruction {
    margin-top: $pui-spacing-large;
  }
  &__confirmation-code {
    display: flex;
    align-self: stretch;
    width: 100%;
    margin-top: $pui-spacing-xxsmall;
    &-input {
      width: 100%;
    }
  }
  &__btns {
    display: flex;
    margin-top: $pui-spacing-xxsmall;
  }
  &__delete-btn {
    margin-left: $pui-spacing-xxsmall;
  }
}