<div class="check-settings">
  <div class="check-settings__header">
    <h1 class="check-settings__heading h2">Check - Details</h1>
    <pui-button class="check-settings__icon" (click)="openModal()" size="md" variant="danger" type="icon" icon="icon-delete"></pui-button>
  </div>
  <div class="check-settings__body">
    <form class="checks-form" [formGroup]="editCheckForm">
      <pui-form-field 
        type="text"
        class="checks-form__input"
        size="lg"
        label="URL"
        placeholder="Enter link to the url without http or https"
        id="URL"
        formControlName="url"
      >
      <div errorMessage>URL is Required</div>
    </pui-form-field>
      <pui-select
        size="lg"
        label="Protocol"
        class="checks-form__input"
        formControlName="protocol"
        [options]="['HTTP', 'HTTPS']"
      ></pui-select>
      <pui-select
        class="checks-form__input"
        size="lg"
        label="Method"
        id="method"
        [options]="methodOptions"
        formControlName="method"
      ></pui-select>
      <pui-select
        class="checks-form__input"
        size="lg"
        label="Success Codes"
        id="successCodes"
        [options]="successCodesOptions"
        formControlName="successCodes"
      ></pui-select>
      <pui-form-field 
        type="number"
        class="checks-form__input"
        size="lg"
        placeholder="Enter timeout in seconds"
        label="Timeout seconds"
        id="timeoutSeconds"
        formControlName="timeoutSeconds"
      >
      <div errorMessage>Timeout seconds is required</div>
    </pui-form-field>
      <div class="checks-form__btn-container">
        <pui-button
          (click)="updateCheck()"
          variant="primary"
          content="Save Changes"
          size="lg"
          [disabled]="editCheckForm.invalid"
        ></pui-button>
      </div>
    </form>
  </div>
</div>

<app-modal [width]="477" [height]="400"[top]="200" [content]="modalContent" (close)="closeDeleteCheckModal()" *ngIf="deleteCheckModalState$  | async">
  <ng-template #modalContent>
    <div class="delete-check-modal">
      <h1 class="h2 delete-check-modal__header">Delete Check</h1>
      <p class="delete-check-modal__delete-instruction display-1r">
        To delete check, type the following code:
      </p>
      <p class="delete-check-modal__code">
        <span class="h5">{{confirmationCode}}</span>
      </p>
      <form class="delete-check-modal__confirmation-code" [formGroup]="deleteCheckForm">
        <pui-form-field placeholder="Enter text here" class="delete-check-modal__confirmation-code-input" size="lg" formControlName="confirmationCode">
          <div *ngIf="doesntMatchError()" errorMessage>Entered value doesn't match with {{confirmationCode}}</div>
          <div *ngIf="isRequiredError()" errorMessage>This field is required</div>
        </pui-form-field>
      </form>
      <div class="delete-check-modal__btns">
        <pui-button (click)="closeDeleteCheckModal()" size="lg" content="Cancel" type="filled" variant="primary"></pui-button>
        <pui-button (click)="deleteCheck()" [disabled]="deleteCheckForm.invalid" class="delete-check-modal__delete-btn" size="lg" content="Delete Check" type="filled" variant="danger"></pui-button>
      </div>
    </div>
  </ng-template>
</app-modal>