<div class="reset-password">
  <pui-logo class="reset-password__logo" [height]="78"></pui-logo>
  <h1 class="reset-password__header">Reset Password</h1>
  <p class="reset-password__paragraph display-1r">Don't have an account? <pui-link size="lg" link="/auth/signup">Sign up</pui-link></p>
  <div class="reset-password__instructions display-3r">
    Please enter a new password for your account
  </div>
  <form [formGroup]="resetPasswordForm" class="reset-password__form">
    <pui-form-field
      class="reset-password__form-field"
      formControlName="newPassword"
      type="password"
      [id]="'newPassword'"
      placeholder="Enter new password"
      label="New Password"
      size="lg">
      <div errorMessage>Please your new password</div>
    </pui-form-field>
    <pui-form-field
      class="reset-password__form-field"
      formControlName="confirmPassword"
      type="password"
      placeholder="Confirm your password"
      [id]="'confirmPassword'"
      label="Confirm Password"
      size="lg">
      <div *ngIf="isRequiredError()" errorMessage>This field is required</div>
      <div *ngIf="doesntMatchError()" errorMessage>Confirmation password doesn't match with password</div>
    </pui-form-field>

    <pui-button
      class="reset-password__btn"
      content="Reset"
      type="filled"
      [disabled]="resetPasswordForm.invalid"
      size="lg"
      (click)="resetPassword()"
      variant="primary"
    ></pui-button>
  </form>
</div>