@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/sizes';
@import '../../../../assets/styles/breakpoints';

.notifications {
  &__table-container {
    background-color: $pui-white;
    padding: $pui-spacing-small;
    border-radius: 5px;
    margin-top: $pui-spacing-xlarge;
  }
  &--up-state {
    background-color: $pui-success-300;
  }
  &--down-state {
    background-color: $pui-danger-300;
  }
  &__status {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    @include md {
      width: 24px;
      height: 24px;
    }
  }
  &__table-heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__table-heading {
    line-height: 0;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: $pui-primary-300;
    @include md {
      font-size: 48px;
      line-height: 0;
    }
  }
  &__table {
    margin-top: $pui-spacing-medium;
  }
  &__empty-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $pui-gray-3;
    text-align: center;
    max-width: 314px;
    &-icon {
      font-size: 50px;
      color: $pui-gray-2;
    }
  }
}