<div class="notifications">
  <div class="notifications__table-container">
    <div class="notifications__table-heading-container">
      <h1 class="notifications__table-heading h2">Notifications <pui-icon iconName="icon-notification-bell"></pui-icon></h1>
    </div>
    <pui-table class="notifications__table" [data$]="notificationData$" [qtySet]="[5, 10, 15]" [columns]="notificationsColumns"
      [columnTemplate]="columnTemplate"  
      [emptyTemplate]="emptyTable">
    </pui-table>
    <ng-template #columnTemplate let-column="column" let-row="row">
      <ng-container [ngSwitch]="column">
        <ng-container *ngSwitchCase="' '">
          <div class="notifications__column-container">
            <div class="notifications__status" [ngClass]="row['Status'] == 'up' ? 'notifications--up-state': 'notifications--down-state'"></div>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{row[column]}}
        </ng-container>
      </ng-container>
    </ng-template>
    <ng-template #emptyTable>
      <div class="notifications__empty-template">
        <pui-icon class="notifications__empty-template-icon" iconName="icon-notification-bell"></pui-icon>
        <p class="notifications__empty-template-text display-2r">No Ping yet!</p>
      </div>
    </ng-template>
  </div>
</div>