@import '../../../assets/styles/colors';
@import '../../../assets/styles/sizes';
@import '../../../assets/styles/breakpoints';

.landing-page {
  &__sm {
    @include xs {
      display: flex !important;
    }
    @include md {
      display: none !important;
    }
  }
  &__lg {
    @include xs {
      display: none !important;
    }
    @include md {
      display: flex !important;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__container {
    max-width: 1500px;
    margin: 64px auto;
    padding: 0 $pui-spacing-small;
  }
  &__header-auth-btns {
    display: flex;
  }
  &__hero-area {
    max-width: 1268px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__hero-area-heading {
    color: $pui-primary-300;
    text-align: center;
    font-size: $pui-spacing-large;
    line-height: $pui-spacing-large;
    margin-top: 115px;
    @include md {
      font-size: $pui-spacing-xxxxlarge;
      line-height: 120px;
    }
  }
  &__image-container {
    display: flex;
    justify-content: center;
    margin-top: 128px;
    margin-bottom: 50px;
  }
  &__approach {
    padding: 0 30px;
    @include md {
      padding: unset;
    }
  }
  &__approach-main {
    display: flex;
    justify-content: space-between;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    flex-direction: column;
    @include md {
      flex-direction: row;
    }
  }
  &__approach-header {
    text-align: center;
    margin: 0;

  }
  &__approach-desc {
    color: $pui-gray-2;
    font-size: 16px;
    @include md {
      font-size: 18px;
    }
  }
  &__approach-points {
    // max-width: 400px;
    margin-top: -50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include md {
      width: 40%;
    }
  }
  &__approach-point-number {
    font-size: 100px;
    opacity: 0.2;
    line-height: unset;
    color: $pui-primary-300;
    @include md {
      font-size: 180px !important;
      line-height: 210px;
    }
  }
  &__approach-point-value {
    color: $pui-primary-300;
    position: absolute;
    left: 0;
    top: 100px;
  }
  &__approach-heading {
    margin: 0;
    font-size: $pui-spacing-xsmall;
    @include md {
      font-size: $pui-spacing-small;
    }
  }
  &__approach-banner {
    // margin-left: -40px;
    // flex: 3; 
    width: unset;
    @include md {
      width: 60%;
    }
  }
  &__approach-point {
    position: relative;
    width: 80%;
  }
  &__approach-main {
    margin-top: 126px;
    display: flex;
    align-items: flex-start;
  }
  &__approach-header-text {
    text-align: center;
    font-size: 16px;
    @include md {
      font-size: 18px;
    }
  }
  &__hero-form {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
    @include md {
      flex-direction: row;
      align-items: flex-end;
    }
  }
  &__hero-area-text {
    max-width: 1000px;
    margin-bottom: $pui-spacing-medium;
    text-align: center;
  }
  &__hero-area-cta {
    width: 100%;
    @include md {
      width: unset;
    }
  }
  &__hero-area-input {
    margin-right: 0;
    @include md {
      margin-right: $pui-spacing-xxsmall;
    }
  }
  &__hero-area-btn {
    margin-top: $pui-spacing-xxsmall;
    ::ng-deep button {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    @include md {
      margin-top: 0;
      ::ng-deep button {
        width: unset;
        display: block;
        justify-content: center;
      }
    }
  }
  &__footer {
    margin-top: 176px;
    color: $pui-white;
    background-color: $pui-primary-300;

    padding: 80px $pui-spacing-small;
    @include lg {
      padding: 80px 110px;
    }
  }
  &__footer-text {
    font-size: 16px;
    text-align: center;
    @include lg {
      font-size: 20px;
      text-align: left;
    }
  }
  &__footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    @include lg {
      flex-direction: row;
    }
  }
  &__footer-mid-section {
    order: 3;
    width: 100%;
    .display-1r {
      font-size: 16px;
    }
    @include lg {
      order: unset;
      width: unset;
      .display-1r {
        font-size: 24px;
      }
    }
  }
  &__footer-logo {
    width: 100px;
    @include lg {
      width: 164px;
    }
  }
  &__footer-right-section {
    max-width: unset;
    @include lg {
      max-width: 450px;
    }
  }
}