<div class="landing-page">
  <div class="landing-page__container">
    <header class="landing-page__header">
      <pui-logo type="full" [height]="24" class="landing-page__logo landing-page__sm"></pui-logo>
      <pui-logo type="full" class="landing-page__logo landing-page__lg"></pui-logo>
      <div class="landing-page__header-auth-btns landing-page__sm">
        <pui-button
          variant="primary"
          content="Sign in"
          [routerLink]="['/auth/', 'signin']"
          type="text"
          size="sm"
        ></pui-button>
        <pui-button
          variant="primary"
          content="Sign Up"
          routerLink="/auth/signup"
          type="filled"
          size="sm"
        ></pui-button>
      </div>
      <div class="landing-page__header-auth-btns landing-page__lg">
        <pui-button
          variant="primary"
          content="Sign in"
          [routerLink]="['/auth/', 'signin']"
          type="text"
          size="lg"
        ></pui-button>
        <pui-button
          variant="primary"
          content="Sign Up"
          routerLink="/auth/signup"
          type="filled"
          size="lg"
        ></pui-button>
      </div>
    </header>
    <div class="landing-page__hero-area">
      <h1 class="landing-page__hero-area-heading">Get a <span>ping</span> when your link goes down</h1>
      <p class="landing-page__hero-area-text display-3r">
        Receive notifications through a revolutionary infrastructure monitoring
        platform that surpasses expectations.
      </p>
      <div class="landing-page__hero-area-cta">
        <form [formGroup]="emailForm" class="landing-page__hero-form">
          <pui-form-field class="landing-page__hero-area-input" size="lg" formControlName="email" placeholder="Enter your email"></pui-form-field>
          <pui-button
            class="landing-page__hero-area-btn"
            content="Book a demo"
            size="lg"
            type="filled"
            variant="secondary"
          ></pui-button>
        </form>
      </div>
    </div>
  </div>
  <div class="landing-page__approach">
    <div class="landing-page__image-container landing-page__sm">
      <img class="landing-page__approach-banner" src="https://pinglink-spaces.fra1.cdn.digitaloceanspaces.com/pinglink-assets/mockup.png" alt="pinglink app mockup">
    </div>

    <h2 class="landing-page__approach-header">Our Approach</h2>
    <p class="landing-page__approach-header-text display-2r">Downtime is normal! Monitor your links before your customers get affected</p>
    <div class="landing-page__approach-main">
      <img class="landing-page__approach-banner landing-page__lg" src="https://pinglink-spaces.fra1.cdn.digitaloceanspaces.com/pinglink-assets/landing-page-mockup.png" alt="pinglink app mockup">
      <div class="landing-page__approach-points">
        <div class="landing-page__approach-point">
          <span class="landing-page__approach-point-number">01</span>
          <span class="landing-page__approach-point-value">Intervals</span>
          <div>
            <h3 class="h4 landing-page__approach-heading">30 mins interval checks</h3>
            <p class="landing-page__approach-desc display-2r">Status of websites are checked every 30 minutes from the time added.</p>
          </div>
        </div>
        <div class="landing-page__approach-point">
          <span class="landing-page__approach-point-number">02</span>
          <span class="landing-page__approach-point-value">Results</span>
          <div>
            <h3 class="h4 landing-page__approach-heading">Accurate and Timely Alerts</h3>
            <p class="landing-page__approach-desc display-2r">Get pinged as soon as a downtime or uptime is signalled from your website</p>
          </div>
        </div>
        <div class="landing-page__approach-point">
          <span class="landing-page__approach-point-number">03</span>
          <span class="landing-page__approach-point-value">Records</span>
          <div>
            <h3 class="h4 landing-page__approach-heading">Comprehensive Stats</h3>
            <p class="landing-page__approach-desc display-2r">Track your websites time activity with the comprehensive and simplified stats.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="landing-page__footer">
    <div class="landing-page__footer-container">
      <img class="landing-page__footer-logo" src="https://pinglink-spaces.fra1.cdn.digitaloceanspaces.com/pinglink-assets/footer-logo.png" alt="footer pinglink logo">
      <div class="landing-page__footer-mid-section">
        <p class="display-1r">+(210) 123-4567</p>
        <p class="display-1r">customercare@pinglink.com</p>
        <p class="display-4r">&copy; 2023 PingLink. All Rights Reserved</p>
      </div>
      <div class="landing-page__footer-right-section">
        <p class="display-1r landing-page__footer-text">Receive notifications through a revolutionary infrastructure monitoring platform that surpases expectations.</p>
        <form [formGroup]="emailForm" class="landing-page__hero-form">
          <pui-form-field class="landing-page__hero-area-input" size="lg" formControlName="email" placeholder="Enter your email"></pui-form-field>
          <pui-button
            class="landing-page__hero-area-btn"
            content="Book a demo"
            size="lg"
            type="filled"
            variant="secondary"
          ></pui-button>
        </form>
      </div>
    </div>
  </footer>
</div>