<div class="banner-card">
  <div class="banner-card__container" [ngClass]="classes">
    <div class="banner-card__side-stripe"></div>
    <ng-container *ngTemplateOutlet="mainContent"></ng-container>
  </div>
</div>