@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/sizes';

.banner-card {
  &__container {
    display: flex;
    height: 205px;
  }
  &__side-stripe {
    width: 10px;
    height: 100%;
    border-radius: 8px;
    background-color: $pui-secondary-300;
  }
  &__main {
    display: flex;
  }
  &--dark {
    background-color: $pui-primary-300;
  }
  &--light {
    background-color: $pui-white;
  }
}